<form method="post" action="{{ path('app_agency_rubric_crud_delete', {'id': agency_rubric.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agency_rubric.id) }}">
    <button class="btn">Delete</button>
</form>
