<h1>Demande de réinitialisation de mot de passe</h1>
<p>Bonjour,</p>
<p>Nous avons reçu une demande de réinitialisation de mot de passe pour votre compte Janus Moulinette.</p>
<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>
<p><a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</a></p>
<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
<p>Si vous n'avez pas demandé de réinitialisation de mot de passe, vous pouvez ignorer cet email.</p>
<p>Cordialement,<br>L'équipe Janus Moulinette</p>
