{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Welcome to your dashboard</h1>
    <p>This area is accessible only to authenticated users.</p>
{% endblock %}
