<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon site Symfony{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <nav>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('admin') }}">Admin</a>
        {% endif %}
    </nav>
    {% if app.request.attributes.get('_route') != 'app_login' %}
        <nav class="mb-4">
            <a class="btn btn-primary" href="{{ path('app_home') }}">Home</a>
            <a class="btn btn-primary" href="{{ path('app_moulinette') }}">Moulinette</a>
            <a class="btn btn-secondary" href="{{ path('app_agencies') }}">Agencies Management</a>
        </nav>
    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>