<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon site Symfony{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    {% if app.user %}
        <a href="{{ path('admin') }}">Admin</a>
    {% endif %}
    {% if app.request.attributes.get('_route') != 'app_login' %}
    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>